:ruby
  posts = [
    {
      image: 'ae_project/post/1.png',
      title: 'Путешествие длиной в импровизацию. Интервью с Лизе-Лотте Норелиус',
      url:   'http://www.artelectronics.ru/sound/elektricheskoe-kafe/759',
      content: 'Подъезжая к Стокгольму с юга, вы видите большую индустриальную зону с грудами металлолома, безликими промышленными зданиями и складами. Именно там, посреди этого города в городе, и работает Норелиус.'
    },
    {
      image: 'ae_project/post/2.png',
      title: 'CES 2014 в Лас-Вегасе. Часть I',
      url: 'http://www.artelectronics.ru/fashion/fashion/760',
      content: 'Возникшее электронное мироощущение — это калейдоскоп, который вертится так быстро, что все теряют ориентиры. И единственная в мире выставка, которая очерчивает новые грани этого мироощущения, — это январская CES в Лас-Вегасе. Представляем обзор новых продуктов и технологий, показанных на CES 2014.'
    },
    {
      image: 'ae_project/post/3.png',
      title: "Будущее не предопределено. Десятка лучших прогнозов на 2014-й и последующие годы",
      url:   'http://www.artelectronics.ru/telegraf/telegraf/761',
      content: 'Слишком часто рассуждения о будущем, особенно с участием футурологов, выглядят как предсказания неизбежного. Однако будущее тем и интересно, что его можно рассматривать как набор потенциальных возможностей и вероятностей. Что ж, достаточно предисловий, вот вам десять лучших прогнозов журнала «The Futurist» на 2014-й и последующие годы. '
    }
  ]

- posts.each do |post|
  %table{ table, style: pb10 }
    %tr
      %td{ colspan: 2 }
        = link_to post[:url] + @user_email_flag, style: gray + fs15 + arial do
          = post[:title]
    %tr
      %td{ td, style: p10 }
        = link_to post[:url] + @user_email_flag, style: iblock do
          = email_image post[:image], {}, @is_mail
      %td{ td }
        %p{ style: times + fs15 + lh150 }= post[:content]