:ruby
  posts = [
    {
      image: 'ae_project/post/1.png',
      title: 'Дмитрий Морозов ::vtol:: о звуковом хакерстве и благословении электронов',
      url: 'http://www.artelectronics.ru/sound/sound/720',
      content: 'Дмитрий Морозов – известный московский художник, изобретатель музыкальных инструментов и автор арт-объектов. В рамках своего проекта VTOL Дмитрий создает электронные экспериментальные сочинения, выступает с интерактивными аудио-визуальными перформансами. Дмитрий рассказал Art Electronics зачем он ломает детские игрушки, что скрывают за собой помехи в работе мониторов и как собрать синтезатор за два часа.'
    },
    {
      image: 'ae_project/post/2.png',
      title: 'Конкурс Art Electronics для дизайнеров интерьера. Итоги',
      url: 'http://www.artelectronics.ru/telegraf/telegraf/718',
      content: 'Перед инсталлятором электроники стоит задача соединения вместе «алгебры и трепетной гармонии»: аудио/видео-техника в домашнем интерьере не существует отдельно от этого интерьера. Art Electronics провел конкурс, в котором будущие дизайнеры интерьера попробовали построить свой идеальный домашний кинотеатр. Итак, смотрим проекты победителей!'
    },
    {
      image: 'ae_project/post/3.png',
      title: "Загородный дом с нулевым потреблением энергии",
      url: 'http://www.artelectronics.ru/architectural-fantasy/architectural-fantasy/717',
      content: 'Этот совершенно обыкновенный с виду пригородный дом построен, чтобы стать площадкой для испытаний альтернативных энергетических систем, материалов и проектов. За год это экспериментальное жилище с нулевым энергопотреблением произведет столько энергии, сколько ее потребовалось бы для жизни в нем семьи из четырех человек, не больше и не меньше.'
    }
  ]

- posts.each do |post|
  %table{ table, style: pb10 }
    %tr
      %td{ colspan: 2 }
        = link_to post[:url] + @user_email_flag, style: gray + fs15 + arial do
          = post[:title]
    %tr
      %td{ td, style: p10 }
        = link_to post[:url] + @user_email_flag, style: iblock do
          = email_image post[:image], {}, @is_mail
      %td{ td }
        %p{ style: times + fs15 + lh150 }= post[:content]