:ruby
  posts = [
    {
      image: 'ae_project/post/1.png',
      title: 'Вчерашнее будущее архитектуры: город Шо',
      url: 'http://www.artelectronics.ru/architectural-fantasy/architectural-fantasy/746',
      content: 'Город Шо, спланированный Клодом-Николя Леду в XVIII веке – одна из самых загадочных градостроительных утопий, на столетия предвосхитившая развитие архитектуры. Это - первый город индустриальной эпохи, придуманный фактически еще до ее наступления.'
    },
    {
      image: 'ae_project/post/2.png',
      title: 'Выставка Аниша Капура в Берлине',
      url: 'http://www.artelectronics.ru/telegraf/telegraf/747',
      content: 'Пары химических веществ, из которых отлиты работы, токсичны, и вдыхать их в больших дозах нельзя. Но тут же посетителей успокаивают – в течение среднестатистического времени посещения выставки ничего страшного с вами не случится. Однако становится не по себе, желание выйти на свежий воздух теперь не оставляет вас...'
    },
    {
      image: 'ae_project/post/3.png',
      title: "Международный фестиваль фотографии в Суздале",
      url:   'http://www.artelectronics.ru/telegraf/telegraf/750',
      content: 'Первый Суздальский Международный Фотофестиваль пройдет 24-27 октября. Первый - потому что фестиваль планирует стать ежегодным событием, а Суздаль - центральной фотоплощадкой России.'
    }
  ]

- posts.each do |post|
  %table{ table, style: pb10 }
    %tr
      %td{ colspan: 2 }
        = link_to post[:url] + @user_email_flag, style: gray + fs15 + arial do
          = post[:title]
    %tr
      %td{ td, style: p10 }
        = link_to post[:url] + @user_email_flag, style: iblock do
          = email_image post[:image], {}, @is_mail
      %td{ td }
        %p{ style: times + fs15 + lh150 }= post[:content]