:ruby
  posts = [
    {
      image: 'ae_project/post/1.png',
      title: 'Искусство зримой музыки',
      url: 'http://www.artelectronics.ru/sound/sound/732',
      content: 'Через слух мы получаем 10% информации, через зрение – 90%. Если погрузить аудиторию в гармонию на 100%, то искусство получит новое качество. Гете посвятил светомузыке 15 лет, написал трехтомное сочинение «Учение о цвете». О том же в разное время думали Вагнер и Скрябин, Леонардо да Винчи и Кандинский, Гельмгольц и Эйлер. И Эйнштейн тоже. Попытки связать живопись и музыку делали Чюрленис, Матюшин, Клее.'
    },
    {
      image: 'ae_project/post/2.png',
      title: 'NASA хочет приручить астероид!',
      url: 'http://www.artelectronics.ru/telegraf/telegraf/731',
      content: 'Этот смелый шаг NASA не может не волновать воображение. NASA "поймает" астероид с помощью космического робота и отбуксирует его к Земле, а затем разместит его на стабильной лунной орбите. Там он будет доступен для исследований и станет первым объектом разработки ископаемых в космосе.'
    },
    {
      image: 'ae_project/post/3.png',
      title: "Тело и движение в оптических иллюзиях Нэн Хувер",
      url: 'http://www.artelectronics.ru/vision/videoart/729',
      content: 'Работы Нэн Хувер принадлежат к классике видеоарта. Ее абстрактные медиа-пейзажи давно известны в Европе, и только в этом году они впервые были показаны в Москве. Одно из решений Нэн Хувер оказалось ключевым в ее жизни и оказало влияние на историю искусства: однажды она навсегда переехала из Америки в Голландию.'
    }
  ]

- posts.each do |post|
  %table{ table, style: pb10 }
    %tr
      %td{ colspan: 2 }
        = link_to post[:url] + @user_email_flag, style: gray + fs15 + arial do
          = post[:title]
    %tr
      %td{ td, style: p10 }
        = link_to post[:url] + @user_email_flag, style: iblock do
          = email_image post[:image], {}, @is_mail
      %td{ td }
        %p{ style: times + fs15 + lh150 }= post[:content]