:ruby
  posts = [
    {
      image: 'ae_project/post/1.png',
      title: 'Интервью с Абделатифом Кешишем о фильме «Синий – самый теплый цвет»',
      url: 'http://www.artelectronics.ru/vision/vision/738',
      content: 'Фильм «Синий – самый теплый цвет» (La Vie d’Adèle) – обладатель Золотой пальмовой ветви 2013 года – рассказывает историю Адели - подростка, чья жизнь радикально меняется, когда она встречает Эмму, молодую женщину с синими волосами, которая открывает ей путь к страсти, женственности и взрослому миру.'
    },
    {
      image: 'ae_project/post/2.png',
      title: 'Юлия Александрова "Собачий вальс"',
      url: 'http://www.artelectronics.ru/mirazhi/literaturnoe-revyu/739',
      content: '"Собачий вальс" - печатный дебют Александровой, объединивший в одну книгу три новых рассказа. И если автор видит связующей тему музыки, то мне, напротив, – эта тема кажется чисто внешней. То, что бросается в глаза и в действительности объединяет эти три истории – несчастная женщина, которая никогда не знала, что такое семья, близкие отношения, радость за успехи близкого, любовь…'
    },
    {
      image: 'ae_project/post/3.png',
      title: "Интервью с Тувой Моцард. Между игрой и реальностью",
      url: 'http://www.artelectronics.ru/vision/videoart/740',
      content: 'Эмоциональную современную фотографию и видео северных стран делают, как правило, женщины. Одна из них - молодая шведка Тува Моцард, уже известная на международной арт-сцене. Наш автор Анна Харькина встретилась с Тувой во время ее персональной выставки в Kulturhuset в Стокгольме.'
    }
  ]

- posts.each do |post|
  %table{ table, style: pb10 }
    %tr
      %td{ colspan: 2 }
        = link_to post[:url] + @user_email_flag, style: gray + fs15 + arial do
          = post[:title]
    %tr
      %td{ td, style: p10 }
        = link_to post[:url] + @user_email_flag, style: iblock do
          = email_image post[:image], {}, @is_mail
      %td{ td }
        %p{ style: times + fs15 + lh150 }= post[:content]