:ruby
  posts = [
    {
      image: 'ae_project/blog/1.jpg',
      title: 'ЕВГЕНИЙ КОЗЮЛЯ. ИСТОКИ',
      url:   'http://www.artelectronics.ru/blogs/108',
      content: 'В РОСФОТО пройдет персональная выставка белорусского фотографа Евгения Козюли. В экспозицию вошли фотографии за период с 1960-х по 1990-е годы.'
    },
    {
      image: 'ae_project/blog/2.jpg',
      title: '«Если будущее – это будущее, оно всегда неожиданно»',
      url: 'http://www.artelectronics.ru/blogs/109',
      content: 'Пророкам, как настоящим, так и мнимым, всегда свойственно ошибаться. Не помню, кто сказал: «Если будущее – это будущее, оно всегда неожиданно». Великое свойство будущего – постоянно удивлять.'
    },
    {
      image: 'ae_project/blog/3.jpg',
      title: 'Победители конкурса A/V ИНТЕРЬЕР определены!',
      url:   'http://www.artelectronics.ru/blogs/110',
      content: 'В пятницу, 18 апреля в Университете технологии и дизайна были объявлены и награждены победители нашего конкурса.'
    }
  ]

- posts.each do |post|
  %table{ table, style: pb10 + mb10 }
    %tr
      %td{ td, style: pb10  }
        = link_to post[:url] + @user_email_flag, style: gray + fs15 + arial do
          = post[:title]
    %tr
      %td{ td, style: fs12 + lh150 }
        %table{ table }
          %tr
            %td{ td, style: pr10 }
              = link_to post[:url] + @user_email_flag do
                = email_image post[:image], {}, @is_mail
            %td{ td, style: arial + fs14 + lh130 }
              = post[:content]