- folder = "ae_project_22_04_14"

:ruby
  def alink(txt, url)
    link_to(txt, url + @user_email_flag)
  end

:ruby
  link_0 = "<b>дайджест журнала #{alink('Art Electronics!', 'http://artelectronics.ru')}</b>"
  
  link_1 = alink 'обзора выставки', 'http://www.artelectronics.ru/fashion/fashion/727'
  link_2 = alink 'футуристические планы', 'http://www.artelectronics.ru/architectural-fantasy/architectural-fantasy/725'
  link_3 = alink 'эссе Дэвида Брукса', 'http://www.artelectronics.ru/telegraf/telegraf/724'

  base_text = <<-TEXT
    Вас приветствует #{link_0}
    <br><br>

    Вас  приветствует  дайджест  журнала  Art Electronics! В этом номере - вторая  часть  #{ link_1 } Consumer Electronics Show в Лас Вегасе,посвященная  наушникам, #{ link_2 } градостроителей прошлого и #{ link_3 } о связях между интуицией и данными.
  TEXT

%table{ table, width: "800px", align: :center }
  %tr
    %td{ wjoin3, style: arial + fs10 + p10 + text_left }
      = link_to "http://artelectronics.ru#{ @user_email_flag }", style: iblock do
        = email_image 'ae_project/base/ae.jpg', {}, @is_mail
  %tr
    %td{ wjoin3, style: arial + fs15 + p10 + lh150 + text_left }
      = base_text
  %tr
    %td{ wjoin3 } &nbsp;
  %tr
    %td{ td.merge({ width: '55%' }), style: times + fs10 + p10 }
      %p{ style: zero + pb10 }
        = link_to 'NEW', "http://artelectronics.ru/news#{ @user_email_flag }", style: gray + times + fs17

      = partial "../mailers/#{ folder }/posts"

    %td{ width: '3%' } &nbsp;

    %td{ td, width: '42%', style: arial + p10 }
      %p{ style: zero + pb10 }
        = link_to 'BLOG', "http://artelectronics.ru/blogs#{ @user_email_flag }", style: gray + times + fs17

      = partial "../mailers/#{ folder }/blog_posts"
      = partial "../mailers/#{ folder }/archive"
      = partial "../mailers/#{ folder }/social"

      %table{ table }
        %tr
          %td{ style: gray + arial + fs17 + text_left }
            Если вы не хотите получать рассылку от ArtElectronics.ru
            просто отправьте пустое письмо на адрес
            = link_to 'post@artelectronics.ru', 'mailto:post@artelectronics.ru'

    %tr
      %td{ wjoin3, align: :center, style: pt20 }
        = alink 'ArtElectronics', "http://artelectronics.ru"