:ruby
  posts = [
    {
      image: 'ae_project/post/1.png',
      title: 'Consumer Electronics Show в Лас Вегасе - 2013. Резюме. Часть II. На голове',
      url:   'http://www.artelectronics.ru/fashion/fashion/727',
      content: '2013 стал не только годом расцвета ТВ высокой четкости, но и возвратом на авансцену технологий, связанных со звуком. Посетитель Consumer Electronics Show 2013 не мог не заметить очередной всплеск популярности наушников. Тенденция не только в том, что виды и конструкции наушников плодятся с огромной скоростью...'
    },
    {
      image: 'ae_project/post/2.png',
      title: 'Города в движении',
      url: 'http://www.artelectronics.ru/architectural-fantasy/architectural-fantasy/725',
      content: 'Архитектурные фантазии на тему городов будущего – особый жанр,  сплетение архитектурного проекта, чистого вымысла, социальной утопии и технического предсказания. В XX веке архитектура столкнулась с проблемой автомобильного движения и сама увлеклась движением. Шагающие и плавающие многоуровневые города - утопии или гениальные идеи архитекторов XX века?'
    },
    {
      image: 'ae_project/post/3.png',
      title: "Философия данных",
      url:   'http://www.artelectronics.ru/telegraf/telegraf/724',
      content: 'Вот вопросы, которые диктует информационная революция и которые занимают меня: когда мы должны полагаться на интуитивную оценку событий, а когда нам следует игнорировать интуицию и руководствоваться данными? Какие события предсказуемы на основе статистического анализа, а какие – нет? Признаюсь, я скептически отношусь к этим вопросам. Но вначале я хочу указать на две ситуации, когда "данные" действительно имеют смысл.'
    }
  ]

- posts.each do |post|
  %table{ table, style: pb10 }
    %tr
      %td{ colspan: 2 }
        = link_to post[:url] + @user_email_flag, style: gray + fs15 + arial do
          = post[:title]
    %tr
      %td{ td, style: p10 }
        = link_to post[:url] + @user_email_flag, style: iblock do
          = email_image post[:image], {}, @is_mail
      %td{ td }
        %p{ style: times + fs15 + lh150 }= post[:content]