:ruby
  posts = [
    {
      image: 'ae_project/post/1.png',
      title: 'В мемориз! Живая память в киберэпоху и виртуальное пирожное «мадлен»',
      url:   'http://www.artelectronics.ru/mirazhi/mirazhi/762',
      content: 'Социолог Екатерина Таратута размышляет о человеческой памяти и технологиях ее сохранения. Открыть собственный ноутбук, которым перестал пользоваться пять лет назад, — впечатление посильнее многих. Старые компьютеры превращаются в машины времени, а людям память принадлежит все меньше.'
    },
    {
      image: 'ae_project/post/2.png',
      title: 'Hi-Fi на высоте. Репортаж с CES 2014, часть II',
      url: 'http://www.artelectronics.ru/fashion/fashion/763',
      content: 'High end audio сохраняет присутствие на выставке CES с самого первого года ее проведения - 1967. «Музыкальная» часть выставки прячется в собственной башне из слоновой кости: на 29–35 этажах гостиницы «Venetian». Самое заметное событие последних лет — появление в продаже аудиофайлов высокого разрешения. Цифровые источники сигнала были обречены отреагировать.'
    },
    {
      image: 'ae_project/post/3.png',
      title: "Emotional Skin: мастер-класс Сони Чиллари",
      url:   'http://www.artelectronics.ru/telegraf/telegraf/764',
      content: 'Проводимый в Москве мастер-класс по созданию интерактивного перформанса - шанс поработать с известной итальянской художницей Соней Чиллари. Творчество Чиллари связано с исследованием человеческого восприятия в виртуальной и дополненной реальности. Со своими интерактивными инсталляциями и мастер-классами она побывала во многих городах мира, но в Москву приедет впервые.'
    }
  ]

- posts.each do |post|
  %table{ table, style: pb10 }
    %tr
      %td{ colspan: 2 }
        = link_to post[:url] + @user_email_flag, style: gray + fs15 + arial do
          = post[:title]
    %tr
      %td{ td, style: p10 }
        = link_to post[:url] + @user_email_flag, style: iblock do
          = email_image post[:image], {}, @is_mail
      %td{ td }
        %p{ style: times + fs15 + lh150 }= post[:content]