:ruby
  posts = [
    {
      image: 'ae_project/blog/1.jpg',
      title: 'Стом Сого: Пылающее создание',
      url: 'http://www.artelectronics.ru/blogs/89',
      content: 'В Лофт-Проекте ЭТАЖИ впервые в России будут представлены визуальные работы выдающегося кинохудожника японского происхождения Стома Сого (Stom Sogo), скоропостижно скончавшегося 1 июля 2012 года.'
    },
    {
      image: 'ae_project/blog/2.jpg',
      title: 'Футуре-отель от дизайнера Карима Рашида',
      url: 'http://www.artelectronics.ru/blogs/88',
      content: 'Первый отель, разработанный «скандалистом» от дизайна Каримом Рашидом, провокационно яркий и необычный афинский Semiramis, можно скорее отнести к art-проектам и опытам на тему дизайнерского футуризма. От шокирующих оттенков до электронных инноваций, все здесь подчинено концепции «отеля будущего».'
    },
    {
      image: 'ae_project/blog/3.jpg',
      title: 'Бразильский художник Бето Мачадо',
      url: 'http://www.artelectronics.ru/blogs/87',
      content: 'С нашей редакцией связался художник Бето Мачадо (Beto Machado) и попросил представить его работы читателям Art Electronics. С удовольствием выполняем его просьбу, тем более, что многие его работы нам действительно нравятся.'
    }
  ]

- posts.each do |post|
  %table{ table, style: pb10 + mb10 }
    %tr
      %td{ td, style: pb10  }
        = link_to post[:url] + @user_email_flag, style: gray + fs15 + arial do
          = post[:title]
    %tr
      %td{ td, style: fs12 + lh150 }
        %table{ table }
          %tr
            %td{ td, style: pr10 }
              = link_to post[:url] + @user_email_flag do
                = email_image post[:image], {}, @is_mail
            %td{ td, style: arial + fs14 + lh130 }
              = post[:content]