:ruby
  posts = [
    {
      image: 'ae_project/blog/1.jpg',
      title: 'Электроакустика Беранжер Максимин',
      url:   'http://www.artelectronics.ru/blogs/99',
      content: 'Предлагаем нашим читателям послушать музыку, которую создает Беранжер Максимин, французский композитор-экспериментатор'
    },
    {
      image: 'ae_project/blog/2.jpg',
      title: 'Schizophrenia Taiwan 2.0',
      url: 'http://www.artelectronics.ru/blogs/98',
      content: 'В рамках фестиваля кибернетического искусства CYBERFEST в этом году будет представлен проект Schizophrenia Taiwan 2.0'
    },
    {
      image: 'ae_project/blog/3.jpg',
      title: 'О частицах Хиггса',
      url: 'http://www.artelectronics.ru/blogs/96',
      content: '"Мы все учились понемногу, чему-нибудь и как-нибудь, Так (обученьем) , слава богу, у нас немудрено блеснуть..."'
    }
  ]

- posts.each do |post|
  %table{ table, style: pb10 + mb10 }
    %tr
      %td{ td, style: pb10  }
        = link_to post[:url] + @user_email_flag, style: gray + fs15 + arial do
          = post[:title]
    %tr
      %td{ td, style: fs12 + lh150 }
        %table{ table }
          %tr
            %td{ td, style: pr10 }
              = link_to post[:url] + @user_email_flag do
                = email_image post[:image], {}, @is_mail
            %td{ td, style: arial + fs14 + lh130 }
              = post[:content]