/ http://artelectronics.ru/blogs/lexus-zakhodit-na-territoriyu-teatra
/ http://artelectronics.ru/blogs/vzglyad-v-buduschee-iz-1947-goda
/ http://artelectronics.ru/blogs/martin-parr-zhizn-eto-plyazh

:ruby
  posts = [
    {
      image: 'ae_project/blog/1.jpg',
      title: 'Lexus заходит на территорию театра',
      url:   'http://artelectronics.ru/blogs/lexus-zakhodit-na-territoriyu-teatra',
      content: 'В этом году выход нового автомобиля Lexus NX поддержит футуристическое шоу под названием «NX Show Три сестры» и подзаголовком «Контркультурная пьеса о выборе».'
    },
    {
      image: 'ae_project/blog/2.jpg',
      title: 'Взгляд в будущее из 1947 года',
      url: 'http://artelectronics.ru/blogs/vzglyad-v-buduschee-iz-1947-goda',
      content: 'Удивительные и забавные опыты ретрофутуризма, предпринятые французским режиссером Раймоном Милле в 1947 году.'
    },
    {
      image: 'ae_project/blog/3.jpg',
      title: 'Мартин Парр. "Жизнь - это пляж"',
      url: 'http://artelectronics.ru/blogs/martin-parr-zhizn-eto-plyazh',
      content: 'Мартин Парр фотографирует пляжи уже несколько десятилетий. Выставка в РОСФОТО представляет одни из лучших фотографий автора, с иронией рассказывающих о пляжных ритуалах и традициях всего мира.'
    }
  ]

- posts.each do |post|
  %table{ table, style: pb10 + mb10 }
    %tr
      %td{ td, style: pb10  }
        = link_to post[:url] + @user_email_flag, style: gray + fs15 + arial do
          = post[:title]
    %tr
      %td{ td, style: fs12 + lh150 }
        %table{ table }
          %tr
            %td{ td, style: pr10 }
              = link_to post[:url] + @user_email_flag do
                = email_image post[:image], {}, @is_mail
            %td{ td, style: arial + fs15 + lh150 }
              = post[:content]
