:ruby
  posts = [
    {
      image: 'ae_project/post/1.png',
      title: 'После 2013...',
      url: 'http://www.artelectronics.ru/mirazhi/literaturnoe-revyu/754',
      content: 'Предсказания популярных зарубежных фантастов о том, как мы будем жить и работать — на Земле или в космосе — в грядущие десятилетия и столетия. Представляем книги, написанные в 2013 году и еще не опубликованные в России.'
    },
    {
      image: 'ae_project/post/2.png',
      title: 'Эволюция от кутюр: искусство и наука в эпоху постбиологии',
      url: 'http://www.artelectronics.ru/mirazhi/literaturnoe-revyu/749',
      content: 'Вышел из печати второй том антологии "Эволюция от кутюр", над которым его редактор Дмитрий Булатов работал последние два года. Книга получилась насыщенная – тридцать статей "сумрачных гениев" современности и около трёхсот иллюстраций лучших международных проектов последних двадцати лет.'
    },
    {
      image: 'ae_project/post/3.png',
      title: "Любовь к трем измерениям. Интервью с Питером Миллером",
      url:   'http://www.artelectronics.ru/vision/vision/751',
      content: 'Питер Миллер – один из немногих фотографов, работающих в технике фотогравюры. Сотрудничество с компанией Honda привело американца Питера в Японию, где он остался, встретив свою будущую жену. В РОСФОТО проходит выставка Питера Миллера «Блуждание» (до 13 октября 2013), в рамках которой и состоялась наша беседа.'
    }
  ]

- posts.each do |post|
  %table{ table, style: pb10 }
    %tr
      %td{ colspan: 2 }
        = link_to post[:url] + @user_email_flag, style: gray + fs15 + arial do
          = post[:title]
    %tr
      %td{ td, style: p10 }
        = link_to post[:url] + @user_email_flag, style: iblock do
          = email_image post[:image], {}, @is_mail
      %td{ td }
        %p{ style: times + fs15 + lh150 }= post[:content]