:ruby
  posts = [
    {
      image: 'ae_project/post/1.png',
      title: 'Научный туннель Макса Планка: наука ищет ответы на вызовы времени',
      url: 'http://www.artelectronics.ru/telegraf/telegraf/735',
      content: 'В Петербурге открывается выставка, подготовленная Обществом имени Макса Планка. Она демонстрирует новейшие научные достижения и вместе с тем - неразрешенные вопросы современной науки. Восемь тематических модулей, включающих в себя фотографии, видео и реальные экспонаты, рассказывают о состоянии различных областей научного знания. Интервью с организатором выставки!'
    },
    {
      image: 'ae_project/post/2.png',
      title: 'Sliced Porosity Block: площадь пяти небоскребов',
      url: 'http://www.artelectronics.ru/architectural-fantasy/architectural-fantasy/734',
      content: 'В начале этого года в китайском городе Чэнду закончено строительство квартала небоскребов по проекту известного американского архитектора Стивена Холла. Узнаем ли мы здесь того Стивена Холла, которого любили за неповторимую, почти магическую игру со светом и осязаемость форм?'
    },
    {
      image: 'ae_project/post/3.png',
      title: "Придай форму будущему! - 2013",
      url: 'http://www.artelectronics.ru/telegraf/telegraf/736',
      content: 'Компания Autodesk, производитель передовых 2D и 3D технологий для визуализации и моделирования, объявляет о старте конкурса молодежных проектов. 3D-проекты в категориях "Архитектура", "Машиностроение" и "Дизайн" принимаются на конкурс до 10 июня.'
    }
  ]

- posts.each do |post|
  %table{ table, style: pb10 }
    %tr
      %td{ colspan: 2 }
        = link_to post[:url] + @user_email_flag, style: gray + fs15 + arial do
          = post[:title]
    %tr
      %td{ td, style: p10 }
        = link_to post[:url] + @user_email_flag, style: iblock do
          = email_image post[:image], {}, @is_mail
      %td{ td }
        %p{ style: times + fs15 + lh150 }= post[:content]