/ http://artelectronics.ru/posts/richard-bakminster-fuller-mnogogrannik-kak-predchuvstvie
/ http://artelectronics.ru/posts/dzhejson-merkoski-kniga-2-0-proshloe-nastoyaschee-i-buduschee-elektronnykh-knig-glazami-sozdatelya-kindle
/ http://artelectronics.ru/posts/otkuda-my-znaem-tak-mnogo-ob-asteroidakh

:ruby
  posts = [
    {
      image: 'ae_project/post/1.png',
      title: 'Ричард Бакминстер Фуллер: многогранник как предчувствие',
      url: 'http://artelectronics.ru/posts/richard-bakminster-fuller-mnogogrannik-kak-predchuvstvie',
      content: 'Знаменитый архитектор и инженер Ричард Бакминстер Фуллер в 1920-е годы ввел в архитектуру понятие четвертого измерения, снабжая проектируемые дома и автомобили аббревиатурой 4D.'
    },
    {
      image: 'ae_project/post/2.png',
      title: 'Джейсон Меркоски. Книга 2.0. Прошлое, настоящее и будущее электронных книг глазами создателя Kindle',
      url: 'http://artelectronics.ru/posts/dzhejson-merkoski-kniga-2-0-proshloe-nastoyaschee-i-buduschee-elektronnykh-knig-glazami-sozdatelya-kindle',
      content: 'Это рассказ о революции электронных книг, о том, что такое электронные книги, что они значат для нашего будущего и для чтения вообще. Что ждет бумажные книги в будущем?'
    },
    {
      image: 'ae_project/post/3.png',
      title: "Откуда мы знаем так много об астероидах?",
      url:   'http://artelectronics.ru/posts/otkuda-my-znaem-tak-mnogo-ob-asteroidakh',
      content: 'Об астероидах мы знаем больше, чем о земле под своими ногами! Компания Planetary Resources, которая собирается добывать полезные ископаемые в космосе, рассказывает в инфографике, почему так получилось и чем астероиды интересны.'
    }
  ]

- posts.each do |post|
  %table{ table, style: pb10 }
    %tr
      %td{ colspan: 2, style: pb10 }
        = link_to post[:url] + @user_email_flag, style: gray + fs15 + lh170 + arial do
          = post[:title]
    %tr
      %td{ td, style: p10 }
        = link_to post[:url] + @user_email_flag, style: iblock do
          = email_image post[:image], {}, @is_mail
      %td{ td }
        %p{ style: arial + fs15 + lh150 }= post[:content]
