:ruby
  posts = [
    {
      image: 'ae_project/post/1.png',
      title: 'Куда бегут собаки?',
      url: 'http://artelectronics.ru/posts/kuda-begut-sobaki',
      content: 'Интервью с арт-группой «Куда бегут собаки» – флагманом екатеринбургского искусства и must-see с 2012 года, когда группа получила премию Prix Ars Electronica.'
    },
    {
      image: 'ae_project/post/2.png',
      title: 'Медиаспектакль «Нейроинтегрум» - приглашение к диалогу',
      url: 'http://artelectronics.ru/posts/mediaspektakl-nejrointegrum-priglashenie-k-dialogu',
      content: 'В конце марта на Новой сцене Александринского театра состоялся премьерный показ медиаспектакля «Нейроинтегрум». '
    },
    {
      image: 'ae_project/post/3.png',
      title: "Татлин. Туча стрел в будущее",
      url:   'http://artelectronics.ru/posts/tatlin-tucha-strel-v-buduschee',
      content: 'Многие его замыслы остались на бумаге в виде чертежей и набросков, хранящихся в музеях и нескольких частных коллекциях, которые позволяют представить, что могло бы быть.'
    }
  ]

- posts.each do |post|
  %table{ table, style: pb10 }
    %tr
      %td{ colspan: 2, style: pb10 }
        = link_to post[:url] + @user_email_flag, style: gray + fs16 + lh150 + arial do
          = post[:title]
    %tr
      %td{ td, style: pb10 + pr10 }
        = link_to post[:url] + @user_email_flag, style: iblock do
          = email_image post[:image], {}, @is_mail
      %td{ td }
        %p{ style: times + fs17 + lh150 }= post[:content]
