:ruby
  posts = [
    {
      image: 'ae_project/post/1.png',
      title: 'Видео и рынок. Сколько стоит то, что невозможно продать',
      url:   'http://www.artelectronics.ru/vision/videoart/758',
      content: 'Инвестиции в живопись и графику — проблема, пути решения которой изобретены давно и не нами. Но как быть с инвестициями в новые медиа? Камень преткновения — цена. Ведущий оценщик и директор по развитию экспертной компании «Арт Консалтинг» Ульяна Доброва расспросила культуртрегера и совладельца галереи «Триумф» Дмитрия Ханкина о том, как формируется цена на видеоарт.'
    },
    {
      image: 'ae_project/post/2.png',
      title: 'Вертикальные города',
      url: 'http://www.artelectronics.ru/architectural-fantasy/architectural-fantasy/755',
      content: 'Мы, как правило, мыслим свои передвижения, ориентируясь на четыре стороны света. Вполне вероятно, что мы давно нуждаемся в координате по вертикальной оси. По мнению многих, сегодняшние небоскребы — это прообразы будущих населенных пунктов, вертикальных городов. О том, почему они необходимы и как их создавать, думают лучшие архитекторы, инженеры и экономисты мира.'
    },
    {
      image: 'ae_project/post/3.png',
      title: "Дмитрий Пиликин: где иное искусство?",
      url:   'http://www.artelectronics.ru/vecherniy-posetitel/vecherniy-posetitel/757',
      content: 'Дмитрий Пиликин живо реагирует на все новое в современном арт-пространстве. Диапазон его деятельности — от скульптурных объектов и инсталляций до фотографии и электронных медиа (хотя в интернете найти его перформансы невозможно).'
    }
  ]

- posts.each do |post|
  %table{ table, style: pb10 }
    %tr
      %td{ colspan: 2 }
        = link_to post[:url] + @user_email_flag, style: gray + fs15 + arial do
          = post[:title]
    %tr
      %td{ td, style: p10 }
        = link_to post[:url] + @user_email_flag, style: iblock do
          = email_image post[:image], {}, @is_mail
      %td{ td }
        %p{ style: times + fs15 + lh150 }= post[:content]