:ruby
  posts = [
    {
      image: 'ae_project/blog/1.jpg',
      title: 'Фотография будущего" в ГЦСИ',
      url: 'http://www.artelectronics.ru/blogs/72',
      content: 'Традиционно считается, что фотография имеет отношение скорее к настоящему и прошлому, чем к будущему, поэтому стремление «запечатлеть будущее» - это своеобразный вызов. Задача фотографа зачастую сложнее задачи художника, который отражает наиболее яркие или значимые стороны настоящего. Фотограф же, нажимая на кнопку, должен представить, что произойдет спустя несколько секунд – когда опустится затвор...'
    },
    {
      image: 'ae_project/blog/2.jpg',
      title: 'Flash-статья "Ретрофутуризм": ответы',
      url: 'http://www.artelectronics.ru/blogs/70',
      content: 'В самом начале января мы просили наших читателей в Facebook, LiveJournal, Twitter и ВКонтакте прокомментировать нашу новую flash-статью, а за развернутые комментарии обещали подарки - аудиофильские диски LINN Records. Как...'
    },
    {
      image: 'ae_project/blog/3.jpg',
      title: 'Стамбул. Фотографии Серканта Хекимджи',
      url: 'http://www.artelectronics.ru/blogs/71',
      content: 'РОСФОТО представляет выставку фотографий молодого турецкого автора Серканта Хекимджи (Serkant Hekimci, 1975). В экспозицию вошло пять документальных серий, созданных в период с 2007 по 2013 год. Все они посвящены Стамбулу — одному из самых древних и многонациональных городов Востока, — его жителям...'
    }
  ]

- posts.each do |post|
  %table{ table, style: pb10 + mb10 }
    %tr
      %td{ td, style: pb10  }
        = link_to post[:url] + @user_email_flag, style: gray + fs15 + arial do
          = post[:title]
    %tr
      %td{ td, style: fs12 + lh150 }
        %table{ table }
          %tr
            %td{ td, style: pr10 }
              = link_to post[:url] + @user_email_flag do
                = email_image post[:image], {}, @is_mail
            %td{ td, style: arial + fs14 + lh130 }
              = post[:content]